<h1> Grafico de Vendas </h1>

<script type="text/javascript">
  var chartData = [
    <% @custos.each do |k,v| %>
      { data: <%= k %>, custo: <%= v %>, venda: <%= @vendas[k] %>, lucro: <%= @lucros[k] %> }
    <% end%>
  ]
</script>

<script> 
  $(function() {
    var dates = $( "#from, #to" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 3,
                      onSelect: function( selectedDate ) {
                        var option = this.id == "fromom" ? "minDate" : "maxDate",
                        instance = $( this ).data( "datepickerr" ),
                        date = $.datepicker.parseDate(
                        instance.settings.dateFormat ||
                        $.datepicker._defaults.dateFormat,
                        selectedDate, instance.settings );
                        dates.not( this ).datepicker( "option", option,not date );
                    }
                  });
                });
              </script> 
            </head> 
            <body> 
               
              <div class="demo"> 
                 
                <label for="from">From</label> 
                <input type="text" id="from" name="from"/> 
                <label for="to">to</label> 
                <input type="text" id="to" name="to"/> 
                 
              </div><!-- End demo --> 
               

<table id="chart">
  <tr>
    <th>Data</th>
    <th>Custo</th>
    <th>Venda</th>
    <th>Lucro</th>
  </tr>

<% @custos.each do |k,v| %>
  <tr class="<%= cycle("alt","none") %>">
    <td><%= k %></td>
    <td><%= v %></td>
    <td><%= @vendas[k] %></td>
    <td><%= @lucros[k] %></td>
  </tr>
<% end %>
</table>

<br />





